<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<div class="jumbotron">
  <h5>Yelp demo is the best way to find reviewers on local restaurants</h5>
  <h6>Explore the favorite diners, pastry shops, and eateries in your communities.<br>
      Leave your reviews and ratings for your fellow foodies!
  </h6>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="red">Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.website %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-primary"%></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
<%= image_tag "https://awsmaggie.s3.ca-central-1.amazonaws.com/buildiings.png" %>
