<p id="notice"><%= notice %></p>
<% if @restaurant.image_url.present? %>
  <%= image_tag @restaurant.image_url %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<div class="float-right">
  <%= link_to 'Add New Review', new_restaurant_review_path(@restaurant), class:"btn btn-primary" %>
</div>

<div>
  <%= render 'review_list', restaurant: @restaurant %>
</div>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
