<p id="notice"><%= notice %></p>

<div class="row container">
  <div class="col-md-5">
    <% if @restaurant.image_url.present? %>
      <%= image_tag @restaurant.image_url %>
    <% end %>
  </div>
  <div class="col-md-7">
    <p>
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </p>
    <p class="star" data-score=<%= @avg_rating %>></p>
    <p><%="#{@reviews&.length} reviews"%></p>
    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @restaurant.website %>
    </p>
  </div>
</div>

<div class="float-right">
  <%= link_to 'Add New Review', new_restaurant_review_path(@restaurant), class:"btn btn-primary" %>
</div>

<div>
  <%= render 'review_list', restaurant: @restaurant %>
</div>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<script type="text/javascript">

  $('.star').raty({
  path: 'https://awsmaggie.s3.ca-central-1.amazonaws.com/stars',
  readOnly: true,
  score: function(){
    return $(this).attr('data-score')
  }
});
</script>
